section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title.font-w-j-bold.font-s-45.text-up.color-black
        span.color-blue Обращение 
        br.no-br
        | к будущим партнерам
      .about-section__line-blue
      .about-section__main-text.font-s-18
        .font-w-bold
          | «КвинтАп климат» занимается продажей 
          br.no-br
          | климатического оборудования с 2022 года.
          br
          br
        | В нашем ассортименте самые современные сплит-системы, 
        br.no-br
        | кондиционеры, очистители, увлажнители, осушители, обогреватели и 
        br.no-br
        | вентиляторы по доступным ценам. На всю продукцию предоставляется 
        br.no-br
        | безоговорочная гарантия и обслуживание на протяжении 3-х лет.
      .about-section__line-black
      .font-s-18
        | В настоящее время идет активная популяризация здорового 
        br.no-br
        | образа жизни и формирования здоровой атмосферы в 
        br.no-br
        | квартирах и помещениях. Запуск бизнеса в этой сфере будет 
        br.no-br
        | актуальным еще долгие годы, а с помощью франшизы вы 
        br.no-br
        | можете быстро построить собственную компанию и начать 
        br.no-br
        | зарабатывать уже через месяц после подписания договора.
      img.about-section__img(src="images/about-section-img.png" loading="lazy" width="908" height="1320" alt="image")
      .about-section__middle
        .font-w-bold.font-s-22
          | Мы расскажем вам обо всех 
          br.no-br
          | подводных камнях, ускорим процесс 
          br.no-br
          | развития, проведем обучение 
          br.no-br
          | персонала, поможем с выбором 
          br.no-br
          | ассортимента и продвижением 
          br.no-br
          | вашего магазина.
        .about-section__middle-right
          img.about-section__middle-right-icon(src="images/about-section-middle-right-icon.png" loading="lazy" width="316" height="318" alt="icon")
          .font-w-bold.font-s-22
            | На всех этапах вы можете 
            br.no-br
            | рассчитывать на поддержку 
            br.no-br
            | нашей команды.
      .about-section__bottom
        .about-section__bottom-left
          img.about-section__bottom-logo(src="images/about-section-bottom-logo.png" loading="lazy" width="639" height="142" alt="logo")
          .about-section__bottom-left-text.font-w-regular.font-s-22 Напишите нам!
          .font-w-bold.font-s-32.text-up
            | Ждем ваши вопросы 
            br.no-br
            | по франшизе!
        form.about-section__form(data-feedback-form)
          textarea.input.input--textarea(type="text" name="answer" autocomplete="off" placeholder="Ваш вопрос")
          input.input.input--tertiary(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
          input.input.input--tertiary(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") Задать вопрос основателю
