section.city-section
  .wrapper
    .city-section__container
      .city-section__box
        img.city-section__logo(src="images/city-section-logo.png" loading="lazy" width="436" height="140" alt="icon")
        h2.city-section__title.font-w-j-bold.font-s-44.text-up
          | Станьте 
          br.no-br
          | партнером франшизы 
          br.no-br
          span.color-sky «КвинтАп климат»
        .city-section__sub-title-wrapper
          .city-section__sub-title-line
          .city-section__sub-title.font-s-18.text-up
            | и получайте 
            span.color-sky от 100 000 рублей 
            br.no-br
            | чистой прибыли ежемесячно
        .city-section__bottom
          .city-section__bottom-text
            img.city-section__bottom-img(src="images/city-section-bottom-img.png" loading="lazy" width="70" height="97" alt="icon")
            .font-w-bold.font-s-16
              | Проверьте, 
              br.no-br
              | свободен ли ваш 
              br
              | город для работы 
              br.no-br
              | по франшизе
          form.city-section__form(data-feedback-form)
            input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
            input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
            button.btn(type="submit") Получить план открытия
      img.city-section__img(src="images/city-section-img.png" loading="lazy" width="1736" height="1590" alt="icon")
