header.header-thanks
  .header-thanks__container
      .header-thanks__text.font-s-12
        .font-w-bold КвинтАп Климат
        | Франшиза магазина <br> климатического оборудования
      img.header-thanks__logo(src="images/header-logo.png" loading="lazy" width="144" height="126" alt="logo")
      .header-thanks__connection
        a(href="tel:+70000000000")
          img.header-thanks__connection-icon(src="images/connection-icon.svg" loading="lazy" width="44" height="44" alt="icon")
        .header-thanks__connection-number
          include ../components/phone-number.pug
        //- .header__call-me.font-w-bold.font-s-16(data-remodal-target="modal-form-call-me") Заказать звонок
