section.steps-section
  .wrapper
    .steps-section__container
      img.steps-section__img-title(src="images/steps-section-img-title.png" loading="lazy" width="2462" height="367" alt="image")
      img.steps-section__img-lines(src="images/steps-section-img-lines.png" loading="lazy" width="954" height="478" alt="image")
      img.steps-section__img-agree(src="images/steps-section-img-agree.png" loading="lazy" width="1674" height="1804" alt="image")
      .swiper-steps
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            .steps-section__card-header
              span.font-w-j-bold.font-s-24.text-up Шаг 1
              span.font-w-j-bold.font-s-16 /9
            .steps-section__card-text.font-s-18 Заключение <br> договора франшизы
          .steps-section__card.swiper-slide
            .steps-section__card-header
              span.font-w-j-bold.font-s-24.text-up Шаг 2
              span.font-w-j-bold.font-s-16 /9
            .steps-section__card-text.font-s-18 Поиск подходящего <br> помещения
          .steps-section__card.swiper-slide
            .steps-section__card-header
              span.font-w-j-bold.font-s-24.text-up Шаг 3
              span.font-w-j-bold.font-s-16 /9
            .steps-section__card-text.font-s-18 Заключение договора <br> аренды
          .steps-section__card.swiper-slide
            .steps-section__card-header
              span.font-w-j-bold.font-s-24.text-up Шаг 4
              span.font-w-j-bold.font-s-16 /9
            .steps-section__card-text.font-s-18 Ремонт и <br> оформление <br> помещения
          .steps-section__card.swiper-slide
            .steps-section__card-header
              span.font-w-j-bold.font-s-24.text-up Шаг 5
              span.font-w-j-bold.font-s-16 /9
            .steps-section__card-text.font-s-18 Поиск персонала
          .steps-section__card.swiper-slide
            .steps-section__card-header
              span.font-w-j-bold.font-s-24.text-up Шаг 6
              span.font-w-j-bold.font-s-16 /9
            .steps-section__card-text.font-s-18 Доставка и монтаж <br> оборудования и мебели
          .steps-section__card.swiper-slide
            .steps-section__card-header
              span.font-w-j-bold.font-s-24.text-up Шаг 7
              span.font-w-j-bold.font-s-16 /9
            .steps-section__card-text.font-s-18 Формирование <br> первичных запасов <br> товара и расходников
          .steps-section__card.swiper-slide
            .steps-section__card-header
              span.font-w-j-bold.font-s-24.text-up Шаг 8
              span.font-w-j-bold.font-s-16 /9
            .steps-section__card-text.font-s-18 Обучение персонала
          .steps-section__card.steps-card-color.swiper-slide
            .steps-section__card-header
              span.font-w-j-bold.font-s-24.text-up Шаг 9
              span.font-w-j-bold.font-s-16 /9
            .steps-section__card-text.font-s-18.font-w-bold Официальное <br> открытие
        .steps-pagination.swiper-progress-steps
      .steps-section__bottom
        img.steps-section__bottom-img(src="images/steps-section-bottom-img.png" loading="lazy" width="456" height="600" alt="image")
        .steps-section__bottom-left
          .font-w-j-bold.font-s-32.text-up
            | Работаем 
            span.color-blue строго 
            br.no-br
            span.color-blue по договору,
          .steps-section__bottom-text.font-s-24
            | в котором описаны наши обязанности 
            br.no-br
            | и все условия сотрудничества
        .steps-section__bottom-right
          img.steps-section__bottom-icon(src="images/steps-section-bottom-icon.png" loading="lazy" width="102" height="76" alt="icon")
          button.btn.steps-item(data-remodal-target="modal-form-agreement") Скачать пример договора
